.contato{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    align-items: center;
    justify-content: center;
    height: 20vh;
    align-content: center;
}

.contato__titulo, .contato__texto{
    background: var(--azul-degrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-align: start;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1rem 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 80%;
    color: var(--azul);
}

.contato__email::placeholder{
    font-family: var(--fonte);
    color: var(--azul);
    background-image: url(/assets/img/Email.svg);
    background-repeat: no-repeat;
    padding-left:2em;
    justify-self: center;
    align-self: center;
}

    .contato{
    display: none;
    }

@media screen and (min-width: 1024px){
    .contato{
        display: grid;
        grid-template-columns: 2 / auto;
        grid-template-rows: 2 / auto;
        align-items: start;
        justify-content: center;
        height: 20vh;
    }
    .contato__titulo, 
    .contato__texto{
        grid-column: 1;
        height: 100%;
    }

    .contato__titulo{
        line-height: 1.5;
        margin-bottom: 19px;
        width: 15rem;
        grid-row: 1;
        position: relative;
        top: 15px;
    }

    .contato__texto{
        width: 20rem;
        grid-row: 2;
    }

    .contato__email{
        grid-column: 2;
        width: 160%;
        grid-row: 2;
    }
}
