.cabecalho__menu-hamburguer{
    background-image: url(/assets/img/Menu.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;

    height: 1.5rem;
    width: 2.25rem;

    margin-right: 1.563rem;
}



.cabecalho{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding-inline:1.5rem ;
    padding-block: 1rem;
    position: relative;
}

.container{
    align-items: center;
    display: flex;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 1px;
    width: 70vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}


.lista-menu__titulo, .lista-menu__item{
    background-color: var(--branco);
    padding: 1rem;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    color: var(--azul);
    text-decoration: none;
    text-transform: uppercase;
}




.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        display: inline;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        color: var(--preto);
        text-decoration: none;
        font-weight: 300;
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked~ .lista-menu {
        display: block;
        width: auto;

    }

    .opcoes__botao{
        display: none;
    }

    .lista-menu__item:hover{
        background-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
        
    }

    .lista-menu{
        left: 36%;
    }

    .lista-menu__item{
        padding-block: 1rem 2rem ;
        padding-inline:  1.5rem;
    }

    .lista-menu__item:hover , .opcoes__item:hover{
        background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
        color: white;
    }


}